svg * {
  transform-box: fill-box;
}

[color-mode="light"] .content {
  --accent: #f2f2f2;
}
[color-mode="dark"] .content {
  --accent: #333333;
}
body {
  --border-radius: 1em;
  --secondary: #1fa1dd;
  --primary: #ce3f76;
}

@keyframes drawTitle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
svg .title-group path {
  transform: scale(0);
  animation: drawTitle calc(var(--timing, 1) * 0.1s)
    calc(var(--delay, 0) * 0.1s) cubic-bezier(0, 0.75, 0.75, 1.25) forwards;
}

svg .title-group path:nth-child(1) {
  --delay: 1;
}
svg .title-group path:nth-child(2) {
  --delay: 2;
}
svg .title-group path:nth-child(3) {
  --delay: 3;
}
svg .title-group path:nth-child(4) {
  --delay: 4;
}
svg .title-group path:nth-child(5) {
  --delay: 5;
}
svg .title-group path:nth-child(6) {
  --delay: 6;
}
svg .title-group path:nth-child(7) {
  --delay: 7;
}
svg .title-group path:nth-child(8) {
  --delay: 8;
}
svg .title-group path:nth-child(9) {
  --delay: 9;
}
svg .title-group path:nth-child(10) {
  --delay: 10;
}
svg .title-group path:nth-child(11) {
  --delay: 11;
}
svg .title-group path:nth-child(12) {
  --delay: 12;
}
svg .title-group path:nth-child(13) {
  --delay: 13;
}
svg .title-group path:nth-child(14) {
  --delay: 14;
}
svg .title-group path:nth-child(15) {
  --delay: 15;
}

svg .title-group path:nth-child(16) {
  --delay: 16;
}

svg .title-group path:nth-child(17) {
  --delay: 17;
}

svg .title-group path:nth-child(18) {
  --delay: 18;
}
svg .title-group path:nth-child(19) {
  --delay: 19;
}

svg .title-group path:nth-child(20) {
  --delay: 20;
}

.logo svg + span {
  position: absolute;
  visibility: hidden;
}
/* 
.color-mode {
  color: var(--text);
  text-indent: -999em;
} */

.color-mode::after {
  content: "";
  background-color: var(--text);
  color: var(--background);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(var(--switch-stroke) * 2)) scale(0);
  font-size: 0.8em;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  display: block;
  text-indent: 0;
  opacity: 0;
  transition: transform var(--transition);
}
.color-mode:hover::after {
  transform: translate(-50%, calc(var(--switch-stroke) * 2)) scale(1);
  opacity: 1;
}

[color-mode="light"] .color-mode::after {
  content: "Light";
}

[color-mode="dark"] .color-mode::after {
  content: "Dark";
}

.content a:not([class]) {
  position: relative;
  text-decoration: none;
  z-index: 1;
  display: inline-block;
}

.content a:not([class])::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  top: 100%;
  left: 0%;
  background: var(--underline-color, var(--accent));
  text-decoration: none;
}

.content a[href*="github.com"] {
  --underline-color: #ffd33d;
}
.content a[href*="codepen.io"] {
  --underline-color: #111111;
}
.content a[href*="twitter.com"] {
  --underline-color: #08a0e9;
}
.content a[href*="dribbble.com"] {
  --underline-color: #ea4c89;
}
.content a[href*="linkedin.com"] {
  --underline-color: #0e76a8;
}
.content a[href*="instagram.com"] {
  --underline-color: linear-gradient(
    to right bottom,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

body {
  --transition: 0.3s cubic-bezier(0, 0.75, 0.75, 1.25);
}

@media screen and (max-width: 720px) {
  /* .archive--blog .archive__item {
    padding: calc(var(--space) / 2) 0;
  }
  .archive--blog .archive__image--empty {
    display: none;
  }
  .archive--blog .archive__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    color: var(--background);
  }

  .archive--blog .archive__date + .archive__text {
    margin-left: 0;
  }
  .archive--blog .archive__tags {
    justify-content: flex-start;
    margin-top: 0;
  } */

  /* 
  .navigation__input ~ .header .navigation.center {
    background-color: var(--foreground);
    color: var(--background);
    padding: var(--space);
  } */

  /* .navigation__input
    ~ .header
    .navigation
    .navigation__item
    + .navigation__item {
    margin-top: 0;
  } */
  /* .navigation__input ~ .header .navigation .navigation__link::before {
    background-color: var(--foreground);
  } */
  /* .navigation__input:checked ~ .navigation__toggle {
    background-color: var(--foreground);
    color: var(--background);
  }
  .navigation__toggle::before {
    content: none;
  }
  .navigation__toggle {
    background-color: var(--background);
    color: var(--foreground);
  } */
}
